 <style>
  .maquinas {
    position: relative;
    width: 100%;
    float: right;
    height: 100vh;
    
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
  .principal{
    text-align: center;
    position: absolute;
    margin-top: 35px;
    width:100%
  }
  .show_maquina{
    display: inline-block;
    position: relative;
    height: 493px;
    width:60%
  }

  </style>
              
<section class="maquinas">
    <div class="principal">
      <div class="show_maquina">
        <h2>Login</h2>
        
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email  %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Login", class:"btn btn-primary" %>
            <%= link_to 'Voltar', root_path, class:"btn btn-info" %> 
          </div>
          
            
        <% end %>

        <%= render "devise/shared/links" %>                  
    </div>
   </div>
 </section>